.experience{
  padding: 2rem;
  background: var(--section-bg);
  border-radius: 8px;
  border: 1px solid var(--card-border);
  transition: background 0.3s, color 0.3s, border 0.3s;
}

.exp-list {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  
}

.exp-item {
  background: var(--card-bg);
  border: 1px solid var(--card-border);
  border-radius: 8px;
  padding: 1.5rem;
  width: 300px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.05);
}

.exp-item:hover {
  box-shadow: 0 4px 12px rgba(0,0,0,0.4);
    transform: translateY(-5px);
    transition: all 0.4s ease;
}

.exp-item h3 {
  margin-top: 0;
}