.header {
  text-align: center;
  padding: 2rem 1rem;
}
.avatar {
  width: 160px;
  border-radius: 25%;
  margin-bottom: 1rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.4);
  transition: all 0.4s ease;
}
.avatar:hover {
  transform: scale(1.05);
    box-shadow: 0 2px 8px rgba(0,0,0,0.8);
}

.header-links a {
  display: inline-block;
  margin: 0 1rem;
  color: var(--accent);
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s;
}
.header-links a:hover {
  text-decoration: underline;
}

.header h1,.header h2{
  margin: 0.5rem 0;
  color: var(--text-color);
}